server:
  port: 3000

spring:
  application:
    name: gateway-server
  config:
    import: 'optional:configserver:'
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server


eureka:
  instance:
    prefer-ip-address: true

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://34.50.7.8:3150/eureka/

jwt:
  secret: "my-nextme-jwt-secret-key-very-long-1234567890"
  access-token-validity-seconds: 1800      # 30분
  refresh-token-validity-seconds: 1209600  # 14일

logging:
  level:
    org.nextme.gatewayserver.config: INFO
